
# Files excluded from git packages
/tests export-ignore
/.github export-ignore
.editorconfig export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.php_cs.dist export-ignore
phpstan.neon.dist export-ignore
CHANGELOG.md export-ignore
README.md export-ignore
