includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  level: max
  paths:
    - src
  typeAliases:
    ColorRGB: 'array{int, int, int}'
    RectangularArea: 'array{x?:int, y?:int, w?:int, h?:int}'
