<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        colors="true"
        bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="Color Thief PHP Test Suite">
            <directory>.</directory>
            <exclude>Image/Adapter/AbstractAdapterTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../src/</directory>
        </include>
    </source>
</phpunit>
