<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="Color Thief PHP Test Suite">
            <directory>.</directory>
            <exclude>Image/Adapter/AbstractAdapterTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../src/</directory>
        </include>
    </source>
</phpunit>
